In [75]:
import os
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import tensorflow as tf
import numpy as np
import scipy as sp
import sklearn as sk

In [172]:
PROJECT_PATH = '/pine/scr/s/i/siyangj/DeepStock/FinalProject/'
DATA_PATH = os.path.join(PROJECT_PATH,'Data/')
RAW_DATA = os.path.join(DATA_PATH,'concat.csv')
NAME_DATA = os.path.join(DATA_PATH,'named.csv')
NAME_HDF5 = os.path.join(DATA_PATH,'named.h5')
NAME_HDF5_ID = 'NAME_DATA'
CLEAN_HDF5 = os.path.join(DATA_PATH,'clean.h5')
CLEAN_HDF5_ID = 'CLEAN_DATA'
STOCK_NAMES = ['AAPL','MSFT','AMZN','GOOG','BRKB',
              'FB','JNJ','JPM','XOM','V','WMT','BAC',
              'UNH','PFE','WFC','VZ','PG','CVX','T',
              'INTC','CSCO','HD','MA','KO','BA',
              'MRK','ORCL','DIS','CMCSA','PEP','C',
              'MCD','PM','DWDP','ABBV','NFLX','MDT',
              'ABT','NVDA','AMGN','NKE','ADBE','MO','LLY',
              'MMM','IBM','HON','UNP','ACN',
              'UTX']

In [6]:
df = pd.read_csv(RAW_DATA)

In [13]:
df.sort_values('Unnamed: 0',inplace=True)

In [14]:
df.rename(columns={'Unnamed: 0':'Time'},inplace=True)

In [18]:
df.set_index('Time',inplace=True)

In [24]:
cols_1 = df.columns.values

In [27]:
for c in cols_1:
    if c[0:7]=='Unnamed':
        df.drop(c,axis=1,inplace=True)

In [33]:
stock_tuples = []
stock_each = ['open','high','low','close','volume']

In [34]:
for s in STOCK_NAMES:
    for e in stock_each:
        stock_tuples.append((s,e))

In [37]:
index = pd.MultiIndex.from_tuples(stock_tuples)

In [39]:
df.columns=index

In [164]:
df = pd.read_hdf(NAME_HDF5,NAME_HDF5_ID)

In [142]:
df

                         AAPL                                           \
                         open      high       low     close     volume
Time
2018-11-05 09:31:00  204.2500  204.2800  203.0400  203.1800  3149131.0
2018-11-05 09:32:00  203.2100  203.4600  202.3100  202.4351   759337.0
2018-11-05 09:33:00  202.4950  202.7400  201.6460  202.1400   899612.0
2018-11-05 09:34:00  202.1700  202.4500  201.7701  202.4200   611154.0
2018-11-05 09:35:00  202.4500  203.3850  202.4100  203.1200   578311.0
2018-11-05 09:36:00  203.0000  203.1279  202.5810  202.9764   372674.0
2018-11-05 09:37:00  202.9495  202.9700  202.6300  202.9400   331529.0
2018-11-05 09:38:00  202.9100  203.0800  202.5000  202.6000   370688.0
2018-11-05 09:39:00  202.5900  202.6100  202.2100  202.2553   328200.0
2018-11-05 09:40:00  202.2656  203.0000  202.2000  202.2150   273661.0
2018-11-05 09:41:00  202.2093  202.5100  201.8701  202.1200   382576.0
2018-11-05 09:42:00  202.0900  202.2500  201.8100  201.8100   316825.0
2018-11-05 09:43:00  201.8300  201.8300  201.4950  201.6350   542767.0
2018-11-05 09:44:00  201.6400  201.9000  201.5400  201.8100   421584.0
2018-11-05 09:45:00  201.8000  202.0690  201.6014  201.7965   303846.0
2018-11-05 09:46:00  201.8000  201.8750  201.5400  201.8200   291488.0
2018-11-05 09:47:00  201.8263  202.2000  201.7000  201.8600   369735.0
2018-11-05 09:48:00  201.8500  202.1299  201.7500  201.9500   290887.0
2018-11-05 09:49:00  201.9700  202.0282  201.7900  201.8400   248393.0
2018-11-05 09:50:00  201.8500  201.9200  201.3700  201.5400   363912.0
2018-11-05 09:51:00  201.5200  202.0500  201.4900  201.9550   288917.0
2018-11-05 09:52:00  201.9400  201.9400  201.5500  201.7200   229768.0
2018-11-05 09:53:00  201.7299  201.8800  201.4700  201.8500   209007.0
2018-11-05 09:54:00  201.8400  201.8800  201.5000  201.5900   237377.0
2018-11-05 09:55:00  201.5000  201.9300  201.3300  201.6100   387261.0
2018-11-05 09:56:00  201.6900  201.7200  201.4300  201.6700   220685.0
2018-11-05 09:57:00  201.6000  201.6000  201.1810  201.2100   326774.0
2018-11-05 09:58:00  201.1850  201.3300  200.9100  201.2100   469061.0
2018-11-05 09:59:00  201.2150  201.2150  201.0400  201.0900   206077.0
2018-11-05 10:00:00  201.1300  201.1300  200.8400  201.0400   273371.0
...                       ...       ...       ...       ...        ...
2018-11-09 15:31:00  204.3200  204.3800  204.2700  204.3250    68503.0
2018-11-09 15:32:00  204.3000  204.3200  204.1400  204.2700   116979.0
2018-11-09 15:33:00  204.2600  204.4100  204.2300  204.4100    39000.0
2018-11-09 15:34:00       NaN       NaN       NaN       NaN        NaN
2018-11-09 15:35:00  204.3000  204.3600  204.2900  204.2900   125777.0
2018-11-09 15:36:00  204.2700  204.3500  204.2400  204.2800    32202.0
2018-11-09 15:37:00  204.2800  204.4300  204.2800  204.3800    62884.0
2018-11-09 15:38:00  204.4200  204.4900  204.3400  204.4300    80121.0
2018-11-09 15:39:00  204.4000  204.4301  204.1500  204.4301   135027.0
2018-11-09 15:40:00  204.3800  204.4300  204.3500  204.3800    41343.0
2018-11-09 15:41:00  204.3800  204.5200  204.3600  204.4000    88576.0
2018-11-09 15:42:00  204.3950  204.4300  204.3500  204.4200    28131.0
2018-11-09 15:43:00  204.4000  204.4820  204.3600  204.4820    55834.0
2018-11-09 15:44:00  204.5000  204.5100  204.4400  204.4700    38289.0
2018-11-09 15:45:00       NaN       NaN       NaN       NaN        NaN
2018-11-09 15:46:00  204.7444  204.7444  204.4000  204.4805   279765.0
2018-11-09 15:47:00  204.4700  204.5100  204.3700  204.4200    77960.0
2018-11-09 15:48:00  204.4200  204.4400  204.2600  204.3700    73888.0
2018-11-09 15:49:00  204.4000  204.4700  204.3600  204.3850    60476.0
2018-11-09 15:50:00  204.4050  204.4700  204.3500  204.4400   102014.0
2018-11-09 15:51:00  204.4600  204.5100  204.3500  204.3800    79481.0
2018-11-09 15:52:00  204.3601  204.4869  204.3400  204.4200    75926.0
2018-11-09 15:53:00  204.4100  204.4400  204.3650  204.3709    92821.0
2018-11-09 15:54:00  204.3400  204.4700  204.2400  204.3450   107127.0
2018-11-09 15:55:00  204.3200  204.5700  204.3200  204.5700   160354.0
2018-11-09 15:56:00  204.5700  204.6300  204.3600  204.4800   145312.0
2018-11-09 15:57:00  204.4700  204.6200  204.4700  204.5900   125777.0
2018-11-09 15:58:00  204.5300  204.6400  204.3700  204.3700   121080.0
2018-11-09 15:59:00  204.3800  204.4500  204.3300  204.4200   144090.0
2018-11-09 16:00:00  204.4200  204.5700  204.2800  204.5300   503634.0

                         MSFT                                          \
                         open      high       low     close    volume
Time
2018-11-05 09:31:00  106.3700  106.5000  106.1600  106.4193  727547.0
2018-11-05 09:32:00  106.4200  106.4200  106.1500  106.1700  177214.0
2018-11-05 09:33:00  106.1800  106.2550  106.1400  106.2300  246076.0
2018-11-05 09:34:00  106.2250  106.3200  106.0897  106.3200  226751.0
2018-11-05 09:35:00  106.2600  106.5150  106.1800  106.2000  257315.0
2018-11-05 09:36:00  106.2000  106.3400  106.1600  106.2900  158501.0
2018-11-05 09:37:00  106.2600  106.3300  106.1500  106.1500  177063.0
2018-11-05 09:38:00  106.1600  106.1950  106.1000  106.1250  130256.0
2018-11-05 09:39:00  106.1000  106.1400  105.9810  106.0300  135755.0
2018-11-05 09:40:00  106.0900  106.2150  106.0600  106.1450  126563.0
2018-11-05 09:41:00  106.1650  106.3350  106.1650  106.2050  120866.0
2018-11-05 09:42:00  106.3100  106.3450  106.2150  106.2800   89387.0
2018-11-05 09:43:00  106.2800  106.2800  106.0650  106.0900  226436.0
2018-11-05 09:44:00  106.1000  106.1300  106.0500  106.0650  120147.0
2018-11-05 09:45:00  106.0300  106.0300  105.9050  106.0050  122138.0
2018-11-05 09:46:00  106.0200  106.1000  105.9950  106.0100  200274.0
2018-11-05 09:47:00  106.0440  106.1300  105.9901  105.9901  118259.0
2018-11-05 09:48:00  106.0099  106.0700  105.9900  106.0300  143617.0
2018-11-05 09:49:00  106.0500  106.0500  105.9500  106.0203  163128.0
2018-11-05 09:50:00  106.0200  106.0300  105.9800  105.9900   83710.0
2018-11-05 09:51:00  105.9900  106.1700  105.9900  106.1000  162021.0
2018-11-05 09:52:00  106.0700  106.0701  105.9900  105.9900   84080.0
2018-11-05 09:53:00  106.0300  106.0500  105.9900  106.0000  161234.0
2018-11-05 09:54:00  105.9986  106.0301  105.9900  105.9900   68563.0
2018-11-05 09:55:00  106.0000  106.1000  106.0000  106.0500  114456.0
2018-11-05 09:56:00  106.1200  106.2400  106.1000  106.2400   60276.0
2018-11-05 09:57:00  106.3000  106.3150  106.2500  106.3150   72664.0
2018-11-05 09:58:00  106.2600  106.3200  106.2300  106.2350   68724.0
2018-11-05 09:59:00  106.2000  106.2850  106.1900  106.2500   50678.0
2018-11-05 10:00:00  106.2700  106.2700  106.1784  106.2500   67855.0
...                       ...       ...       ...       ...       ...
2018-11-09 15:31:00  109.7650  109.8600  109.7650  109.8200   92233.0
2018-11-09 15:32:00  109.8000  109.8000  109.7000  109.7200   77288.0
2018-11-09 15:33:00  109.7300  109.7700  109.7250  109.7700   30532.0
2018-11-09 15:34:00       NaN       NaN       NaN       NaN       NaN
2018-11-09 15:35:00  109.7500  109.7900  109.7100  109.7100  129712.0
2018-11-09 15:36:00  109.7100  109.7700  109.6915  109.6915   48898.0
2018-11-09 15:37:00  109.7097  109.8003  109.7097  109.7900   62659.0
2018-11-09 15:38:00  109.7900  109.8400  109.7500  109.8000   82408.0
2018-11-09 15:39:00  109.7900  109.7900  109.5700  109.7500  188724.0
2018-11-09 15:40:00  109.7450  109.7600  109.6500  109.6500   54835.0
2018-11-09 15:41:00  109.6300  109.7700  109.6300  109.7400   66252.0
2018-11-09 15:42:00  109.7400  109.7500  109.7200  109.7500   38879.0
2018-11-09 15:43:00  109.7400  109.7900  109.7100  109.7900   60213.0
2018-11-09 15:44:00  109.7750  109.8300  109.7600  109.7850   80749.0
2018-11-09 15:45:00       NaN       NaN       NaN       NaN       NaN
2018-11-09 15:46:00  109.9500  109.9700  109.7000  109.8500  346226.0
2018-11-09 15:47:00  109.8400  109.8400  109.7500  109.7700   69068.0
2018-11-09 15:48:00  109.7700  109.7950  109.7300  109.7300   57651.0
2018-11-09 15:49:00  109.7500  109.7800  109.7400  109.7400   47760.0
2018-11-09 15:50:00  109.7300  109.7600  109.6800  109.7100  422701.0
2018-11-09 15:51:00  109.7100  109.7200  109.6200  109.6400  103691.0
2018-11-09 15:52:00  109.6200  109.7000  109.6200  109.6900   96279.0
2018-11-09 15:53:00  109.6800  109.7000  109.6500  109.6500   85356.0
2018-11-09 15:54:00  109.6500  109.7200  109.6250  109.6843  130130.0
2018-11-09 15:55:00  109.6800  109.8300  109.6800  109.8300  171887.0
2018-11-09 15:56:00  109.8300  109.9200  109.6400  109.7500  216759.0
2018-11-09 15:57:00  109.7500  109.8600  109.7500  109.8300  145562.0
2018-11-09 15:58:00  109.8100  109.8400  109.6900  109.6900  122421.0
2018-11-09 15:59:00  109.7200  109.7900  109.7000  109.7800  147457.0
2018-11-09 16:00:00  109.7700  109.7700  109.5400  109.5400  317913.0

                      ...          ACN                                       \
                      ...         open     high      low     close   volume
Time                  ...
2018-11-05 09:31:00   ...     157.8400  157.840  157.840  157.8400      0.0
2018-11-05 09:32:00   ...          NaN      NaN      NaN       NaN      NaN
2018-11-05 09:33:00   ...     157.3600  157.360  157.360  157.3600   5380.0
2018-11-05 09:34:00   ...     157.2200  157.610  157.220  157.6100   6208.0
2018-11-05 09:35:00   ...     157.9600  157.970  157.860  157.9700   8392.0
2018-11-05 09:36:00   ...     158.1000  158.100  157.880  157.8800   7168.0
2018-11-05 09:37:00   ...     157.8400  157.840  157.840  157.8400   1792.0
2018-11-05 09:38:00   ...     157.7200  157.720  157.690  157.6900   6429.0
2018-11-05 09:39:00   ...     157.5200  157.520  157.490  157.4900   4941.0
2018-11-05 09:40:00   ...          NaN      NaN      NaN       NaN      NaN
2018-11-05 09:41:00   ...     157.6900  157.690  157.690  157.6900   1854.0
2018-11-05 09:42:00   ...     157.8750  157.875  157.875  157.8750   4096.0
2018-11-05 09:43:00   ...     157.5900  157.590  157.590  157.5900   2542.0
2018-11-05 09:44:00   ...     157.5650  157.565  157.565  157.5650   4179.0
2018-11-05 09:45:00   ...          NaN      NaN      NaN       NaN      NaN
2018-11-05 09:46:00   ...     157.5300  157.550  157.530  157.5500   5771.0
2018-11-05 09:47:00   ...     157.5400  157.540  157.540  157.5400   2558.0
2018-11-05 09:48:00   ...     157.5400  157.540  157.540  157.5400   3633.0
2018-11-05 09:49:00   ...     157.6000  157.600  157.600  157.6000   2870.0
2018-11-05 09:50:00   ...     157.6700  157.670  157.640  157.6400   6093.0
2018-11-05 09:51:00   ...     157.7700  157.770  157.770  157.7700   2283.0
2018-11-05 09:52:00   ...     157.7800  157.780  157.780  157.7800   1823.0
2018-11-05 09:53:00   ...     157.6800  157.680  157.430  157.4300  20749.0
2018-11-05 09:54:00   ...     157.4800  157.480  157.480  157.4800   2433.0
2018-11-05 09:55:00   ...     157.5400  157.540  157.540  157.5400   1737.0
2018-11-05 09:56:00   ...     157.5200  157.520  157.520  157.5200   2704.0
2018-11-05 09:57:00   ...     157.5700  157.570  157.570  157.5700   2264.0
2018-11-05 09:58:00   ...     157.4200  157.420  157.400  157.4000   5535.0
2018-11-05 09:59:00   ...     157.3100  157.310  157.310  157.3100   1528.0
2018-11-05 10:00:00   ...     157.2900  157.290  157.290  157.2900   2788.0
...                   ...          ...      ...      ...       ...      ...
2018-11-09 15:31:00   ...     165.1500  165.250  165.130  165.2500  10558.0
2018-11-09 15:32:00   ...     165.1000  165.140  165.090  165.1300   8688.0
2018-11-09 15:33:00   ...     165.1600  165.170  165.160  165.1600   5376.0
2018-11-09 15:34:00   ...     165.1500  165.190  165.150  165.1600   7337.0
2018-11-09 15:35:00   ...     165.2000  165.200  165.160  165.1800   7973.0
2018-11-09 15:36:00   ...     165.1700  165.170  165.170  165.1700   3474.0
2018-11-09 15:37:00   ...     165.1550  165.280  165.155  165.2500  12929.0
2018-11-09 15:38:00   ...     165.2500  165.290  165.250  165.2895   7826.0
2018-11-09 15:39:00   ...     165.2500  165.310  165.180  165.3100  25305.0
2018-11-09 15:40:00   ...     165.3400  165.340  165.325  165.3400   6731.0
2018-11-09 15:41:00   ...     165.3400  165.450  165.340  165.4500   8549.0
2018-11-09 15:42:00   ...     165.4350  165.435  165.380  165.3800  10644.0
2018-11-09 15:43:00   ...     165.3769  165.390  165.340  165.3800  17518.0
2018-11-09 15:44:00   ...     165.3900  165.390  165.380  165.3800   4815.0
2018-11-09 15:45:00   ...     165.4100  165.530  165.410  165.5300  10790.0
2018-11-09 15:46:00   ...     165.6400  165.640  165.400  165.5200  16800.0
2018-11-09 15:47:00   ...     165.4300  165.430  165.390  165.3900  11430.0
2018-11-09 15:48:00   ...     165.3900  165.390  165.290  165.2900   5392.0
2018-11-09 15:49:00   ...     165.3100  165.330  165.305  165.3300   9481.0
2018-11-09 15:50:00   ...     165.3300  165.370  165.290  165.2900  13484.0
2018-11-09 15:51:00   ...     165.3200  165.320  165.265  165.2650   4889.0
2018-11-09 15:52:00   ...     165.2400  165.280  165.240  165.2700  13067.0
2018-11-09 15:53:00   ...     165.2500  165.300  165.230  165.3000  16444.0
2018-11-09 15:54:00   ...     165.2650  165.370  165.240  165.3700  12078.0
2018-11-09 15:55:00   ...     165.3300  165.440  165.330  165.4400  14810.0
2018-11-09 15:56:00   ...     165.4700  165.470  165.310  165.3800  19392.0
2018-11-09 15:57:00   ...     165.3900  165.495  165.380  165.4100  17371.0
2018-11-09 15:58:00   ...     165.4700  165.480  165.330  165.3300   9319.0
2018-11-09 15:59:00   ...     165.3100  165.360  165.300  165.3000  22282.0
2018-11-09 16:00:00   ...     165.2500  165.250  165.080  165.1500  44077.0

                          UTX
                         open      high       low     close   volume
Time
2018-11-05 09:31:00  127.5350  127.6000  127.5350  127.6000  56738.0
2018-11-05 09:32:00       NaN       NaN       NaN       NaN      NaN
2018-11-05 09:33:00  127.5600  127.6000  127.3925  127.3925  17479.0
2018-11-05 09:34:00  127.3900  127.4000  127.3700  127.3700   9899.0
2018-11-05 09:35:00  127.2700  127.4800  127.2700  127.4800   7169.0
2018-11-05 09:36:00  127.3075  127.5000  127.3075  127.5000   8689.0
2018-11-05 09:37:00  127.6600  127.6600  127.6600  127.6600   2179.0
2018-11-05 09:38:00  127.6400  127.8600  127.6400  127.8000  27834.0
2018-11-05 09:39:00  127.7000  127.7000  127.2200  127.2200  68177.0
2018-11-05 09:40:00  127.0100  127.0400  127.0100  127.0400   7637.0
2018-11-05 09:41:00  127.1700  127.2900  127.1700  127.2900   7815.0
2018-11-05 09:42:00       NaN       NaN       NaN       NaN      NaN
2018-11-05 09:43:00  127.0700  127.0700  127.0700  127.0700   3920.0
2018-11-05 09:44:00  127.0000  127.0200  127.0000  127.0200   5529.0
2018-11-05 09:45:00  126.9200  127.0200  126.9200  127.0200  15190.0
2018-11-05 09:46:00  126.9800  126.9800  126.9800  126.9800   2427.0
2018-11-05 09:47:00  126.9750  126.9750  126.8600  126.8600   8147.0
2018-11-05 09:48:00  126.9500  126.9500  126.9500  126.9500   3552.0
2018-11-05 09:49:00  127.1000  127.1000  127.0700  127.0700   7484.0
2018-11-05 09:50:00  127.0000  127.0500  127.0000  127.0500   6642.0
2018-11-05 09:51:00  127.0300  127.2600  127.0300  127.2600   6019.0
2018-11-05 09:52:00  127.3200  127.3200  127.2466  127.2466  12964.0
2018-11-05 09:53:00  127.4200  127.4200  127.4200  127.4200   8920.0
2018-11-05 09:54:00  127.3900  127.3900  127.3900  127.3900   2720.0
2018-11-05 09:55:00  127.3140  127.3140  127.3140  127.3140   3869.0
2018-11-05 09:56:00  127.3700  127.3973  127.3700  127.3973   8811.0
2018-11-05 09:57:00  127.3300  127.3600  127.3300  127.3600   9762.0
2018-11-05 09:58:00  127.3900  127.3900  127.3550  127.3550   6001.0
2018-11-05 09:59:00  127.1560  127.1560  127.1560  127.1560   3525.0
2018-11-05 10:00:00  127.1050  127.1050  127.0000  127.0000   7638.0
...                       ...       ...       ...       ...      ...
2018-11-09 15:31:00  130.7900  130.8700  130.7800  130.8700   7250.0
2018-11-09 15:32:00  130.8338  130.8338  130.7900  130.8000   7998.0
2018-11-09 15:33:00  130.8100  130.8400  130.8100  130.8400   4012.0
2018-11-09 15:34:00       NaN       NaN       NaN       NaN      NaN
2018-11-09 15:35:00  130.7600  130.7800  130.7600  130.7800  15635.0
2018-11-09 15:36:00  130.7300  130.7700  130.7300  130.7600  11710.0
2018-11-09 15:37:00  130.7200  130.8100  130.7200  130.8100   8714.0
2018-11-09 15:38:00  130.8000  130.8250  130.8000  130.8250   6221.0
2018-11-09 15:39:00  130.7100  130.8400  130.7100  130.8400  16277.0
2018-11-09 15:40:00  130.8100  130.8200  130.7700  130.8200   6140.0
2018-11-09 15:41:00  130.8700  130.9300  130.8700  130.9000  12641.0
2018-11-09 15:42:00  130.9400  130.9500  130.9400  130.9500   3655.0
2018-11-09 15:43:00  130.9200  130.9900  130.8800  130.9900  10815.0
2018-11-09 15:44:00  130.9400  130.9400  130.9400  130.9400   2337.0
2018-11-09 15:45:00       NaN       NaN       NaN       NaN      NaN
2018-11-09 15:46:00  131.0400  131.0400  130.9000  130.9600  33618.0
2018-11-09 15:47:00  130.9600  130.9600  130.9000  130.9400   7173.0
2018-11-09 15:48:00  130.9300  130.9300  130.8100  130.8100   6900.0
2018-11-09 15:49:00  130.8100  130.8500  130.8100  130.8200  10351.0
2018-11-09 15:50:00  130.8200  130.8200  130.7700  130.7700  13494.0
2018-11-09 15:51:00  130.8100  130.8100  130.7400  130.7400   8292.0
2018-11-09 15:52:00  130.7600  130.8400  130.7600  130.8400  16196.0
2018-11-09 15:53:00  130.8200  130.8500  130.8000  130.8500  16093.0
2018-11-09 15:54:00  130.8300  130.8700  130.7900  130.8700  15654.0
2018-11-09 15:55:00  130.8900  130.9400  130.8600  130.9000  27822.0
2018-11-09 15:56:00  130.9100  130.9700  130.8300  130.8700  26724.0
2018-11-09 15:57:00  130.8900  131.0200  130.8900  130.9800  21742.0
2018-11-09 15:58:00  130.9700  131.0050  130.8800  130.8800  27609.0
2018-11-09 15:59:00  130.8950  130.9300  130.8900  130.8900  40940.0
2018-11-09 16:00:00  130.8600  130.8600  130.7200  130.7200  82963.0

[1950 rows x 250 columns]

In [80]:
## Ref: https://stackoverflow.com/a/6520696
def nan_helper(y):
    """Helper to handle indices and logical indices of NaNs.

    Input:
        - y, 1d numpy array with possible NaNs
    Output:
        - nans, logical indices of NaNs
        - index, a function, with signature indices= index(logical_indices),
          to convert logical indices of NaNs to 'equivalent' indices
    Example:
        >>> # linear interpolation of NaNs
        >>> nans, x= nan_helper(y)
        >>> y[nans]= np.interp(x(nans), x(~nans), y[~nans])
    """

    return np.isnan(y), lambda z: z.nonzero()[0]

In [116]:
## Use cubic spline to interpolate/extrapolate missing values
def fill_na(y):
    nans, x = nan_helper(y)
    f = sp.interpolate.interp1d(x(~nans),y[~nans],
                                kind='cubic',bounds_error=False,fill_value='extrapolate')
    y[nans]= f(x(nans))
    return y

In [158]:
def deal_with_open_close(y,minimum=1e-3):
    y = fill_na(y)
    m = y<=0
    if len(np.where(m)[0])>0:
        print(y[m])
        raise ValueError("Error in interpolation: produced nonpositive!!")
        print("Error in op/cl interpolation: produced nonpositive!!")
    y[m]=minimum
    return y

In [159]:
def deal_with_volume(y):
    y = fill_na(y)
    m = y<=0
    if len(np.where(m)[0])>0:
        print(y[m])
        print("Error in volume interpolation: produced nonpositive!!")
    y[m]=np.mean(y)
    return y

In [160]:
def deal_with_high_low(y,op,cl,ishigh,minimum=1e-3):
    y = deal_with_open_close(y,minimum=minimum)
    if ishigh:
        y = np.maximum.reduce([y,op,cl])
    else:
        y = np.minimum.reduce([y,op,cl])
    return y

In [165]:
# open, high, low, close, volume
def df_fill_na():
    for i in range(50):
        col = i*5
        # first deal with open and close
        try:
            op = deal_with_open_close(df.iloc[:,col].values)
            cl = deal_with_open_close(df.iloc[:,col+3].values)
            # then deal with volume
            vo = deal_with_volume(df.iloc[:,col+4].values)
            # then deal with high and low
            hi = deal_with_high_low(df.iloc[:,col+1].values,op,cl,True)
            lo = deal_with_high_low(df.iloc[:,col+2].values,op,cl,False)
        except ValueError as ve:
            print(col)
            raise ve
        df.iloc[:,col] = op
        df.iloc[:,col+1] = hi
        df.iloc[:,col+2] = lo
        df.iloc[:,col+3] = cl
        df.iloc[:,col+4] = vo

In [166]:
df_fill_na()

[-213.92621137]
Error in volume interpolation: produced nonpositive!!
[0. 0.]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[0 0 0]
Error in volume interpolation: produced nonpositive!!
[-61967.4440437]
Error in volume interpolation: produced nonpositive!!
[-1789087.00053572]
Error in volume interpolation: produced nonpositive!!
[-1628.26772703]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[-48771.87858439]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[0. 0.]
Error in volume interpolation: produced nonpositive!!
[ -897.90790326 -2903.44845235 -1485.09416381 -1580.12039935
   -25.7925413   -168.10904142]
Error in volume interpolation: produced nonpositive!!
[0. 0.]
Error in volume interpolation: produced nonpositive!!
[   0.            0.         -180.66916036]
Error in volume interpolation: produced nonpositive!!
[0. 0. 0.]
Error in volume interpolation: produced nonpositive!!
[    0.         -4313.11683873]
Error in volume interpolation: produced nonpositive!!
[0.]
Error in volume interpolation: produced nonpositive!!
[    0.          -114.51216685   -11.84152654 -1607.46908685
  -598.68531355 -3026.37929673]
Error in volume interpolation: produced nonpositive!!

In [173]:
df.to_hdf(CLEAN_HDF5,CLEAN_HDF5_ID)